// ======================================================================
// 常用变量配置
// ======================================================================

// 是否兼容
@compat_ie6: false;
@compat_ie7: `false || eval(@{compat_ie6})`;
@compat_ie8: `false || eval(@{compat_ie7})`;

// 是否添加浏览器兼容前缀
@prefix: true;

// 响应式配置
@screen_xl: 1280px; // Extra large
@screen_lg: 1024px; // Large
@screen_md: 768px; // Medium
@screen_sm: 414px; // Small
@screen_xs: 375px; // Extra small

@ft_def: Helvetica, Arial, Verdana, sans-serif;  // 页面默认备用字体
@ft: Microsoft YaHei;  //页面默认首选字体（微软雅黑）
@ft2: SimSun;  //常用字体2（宋体）
@ft3: SimHei;  // 常用字体3（黑体）
@ft4: Arial;  // 常用字体4
@ft5: Impact;  // 常用字体5

// 表单元素默认字体大小
@form_default_font_size: 16px;
@ftsz_def: 16px;  // 页面默认字体大小
@ftsz_min: 12px; // 最小字体大小
@ftsz0: 0.9rem;
@ftsz: 1rem;
@ftsz1: 1.1rem;
@ftsz2: 1.2rem;
@ftsz3: 1.3rem;
@ftsz4: 1.4rem;
@ftsz5: 1.5rem;
@ftsz6: 1.6rem;
@ftsz7: 1.7rem;
@ftsz8: 1.8rem;
@ftsz9: 1.9rem;
@ftsz10: 2rem;

// 页面常用色
@ftcl: #333;  // 常用字体颜色（黑）
@ftcl2: #666;  // 常用字体颜色（深灰）
@ftcl3: #999;  // 常用字体颜色（灰）
@ftcl4: #fff;  // 常用字体颜色（白）
@bgcl: #fff;  // 页面默认背景颜色（白）
@bgcl2: #f5f5f5;  // 页面背景颜色（暗白）
@bgcl3: #e5e5e5;  // 页面背景颜色（淡灰）
@lkcl: #36f;  // 页面默认链接颜色（蓝）
